<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Profile</div>
        <div class="panel-body">
            <legend><i class="fa fa-clipboard"></i> Edit My Profile</legend>
            <form #profileForm="ngForm" (ngSubmit)="updateProfile()">
                <div class="form-group">
                    <label class="control-label">Profile Picture</label>
                    <img [src]="user.picture || 'https://placehold.it/100x100'" class="profile-picture">
                </div>
                <div [class.has-error]="displayName.invalid && displayName.dirty" class="form-group has-feedback">
                    <label class="control-label"><i class="fa fa-user"></i> Display Name</label>
                    <input #displayName="ngModel" [(ngModel)]="user.displayName" class="form-control" id="displayName"
                           name="displayName"
                           required
                           type="text"/>
                    <div *ngIf="displayName.invalid && (displayName.dirty || displayName.touched)"
                         class="help-block text-danger">
                        <div *ngIf="displayName.errors.required">You must enter your name.</div>
                    </div>
                </div>
                <div [class.has-error]="email.invalid && email.dirty" class="form-group has-feedback">
                    <label class="control-label"><i class="fa fa-at"></i> Email Address</label>
                    <input #email="ngModel" [(ngModel)]="user.email" class="form-control" email id="email" name="email"
                           required type="email"/>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="help-block text-danger">
                        <div *ngIf="email.errors.required">Your email address is required.</div>
                        <div *ngIf="email.errors.email">Your email address is invalid.</div>
                    </div>
                </div>
                <button [disabled]="profileForm.form.invalid" class="btn btn-lg btn-success" type="submit">Update
                    Information
                </button>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Accounts</div>
        <div class="panel-body">
            <legend><i class="fa fa-link"></i> Linked Accounts</legend>
            <div class="btn-group-vertical">
                <button (click)="user.bitbucket ? unlink('bitbucket') : link('bitbucket')"
                        [ngClass]="user.bitbucket ? 'btn-danger' : 'btn-primary'"
                        class="btn btn-sm">
                    <i class="fa fa-bitbucket"></i> {{user.bitbucket ? 'Unlink' : 'Link'}} Bitbucket Account
                </button>
                <button (click)="user.facebook ? unlink('facebook') : link('facebook')"
                        [ngClass]="user.facebook ? 'btn-danger' : 'btn-primary'"
                        class="btn btn-sm">
                    <i class="fa fa-facebook"></i> {{user.facebook ? 'Unlink' : 'Link'}} Facebook Account
                </button>
                <button (click)="user.foursquare ? unlink('foursquare') : link('foursquare')"
                        [ngClass]="user.foursquare ? 'btn-danger' : 'btn-primary'"
                        class="btn btn-sm">
                    <i class="fa fa-foursquare"></i> {{user.foursquare ? 'Unlink' : 'Link'}} Foursquare Account
                </button>
                <button (click)="user.github ? unlink('github') : link('github')"
                        [ngClass]="user.github ? 'btn-danger' : 'btn-primary'"
                        class="btn btn-sm">
                    <i class="fa fa-github"></i> {{user.github ? 'Unlink' : 'Link'}} GitHub Account
                </button>
                <button (click)="user.google ? unlink('google') : link('google')"
                        [ngClass]="user.google ? 'btn-danger' : 'btn-primary'"
                        class="btn btn-sm">
                    <i class="fa fa-google"></i>{{user.google ? 'Unlink' : 'Link'}} Google Account
                </button>
                <button (click)="user.instagram ? unlink('instagram') : link('instagram')"
                        [ngClass]="user.instagram ? 'btn-danger' : 'btn-primary'"
                        class="btn btn-sm">
                    <i class="fa fa-instagram"></i> {{user.instagram ? 'Unlink' : 'Link'}} Instagram Account
                </button>
                <button (click)="user.linkedin ? unlink('linkedin') : link('linkedin')"
                        [ngClass]="user.linkedin ? 'btn-danger' : 'btn-primary'"
                        class="btn btn-sm">
                    <i class="fa fa-linkedin"></i> {{user.linkedin ? 'Unlink' : 'Link'}} LinkedIn Account
                </button>
                <button (click)="user.live ? unlink('live') : link('live')"
                        [ngClass]="user.live ? 'btn-danger' : 'btn-primary'"
                        class="btn btn-sm">
                    <i class="fa fa-windows"></i> {{user.live ? 'Unlink' : 'Link'}} Windows Live Account
                </button>
                <button (click)="user.reddit ? unlink('reddit') : link('reddit')"
                        [ngClass]="user.reddit ? 'btn-danger' : 'btn-primary'"
                        class="btn btn-sm">
                    <i class="fa fa-reddit"></i> {{user.reddit ? 'Unlink' : 'Link'}} Reddit Account
                </button>
                <button (click)="user.spotify ? unlink('spotify') : link('spotify')"
                        [ngClass]="user.spotify ? 'btn-danger' : 'btn-primary'"
                        class="btn btn-sm">
                    <i class="fa fa-spotify"></i> {{user.spotify ? 'Unlink' : 'Link'}} Spotify Account
                </button>
                <button (click)="user.twitch ? unlink('twitch') : link('twitch')"
                        [ngClass]="user.twitch ? 'btn-danger' : 'btn-primary'"
                        class="btn btn-sm">
                    <i class="fa fa-twitch"></i> {{user.twitch ? 'Unlink' : 'Link'}} Twitch Account
                </button>
                <button (click)="user.twitter ? unlink('twitter') : link('twitter')"
                        [ngClass]="user.twitter ? 'btn-danger' : 'btn-primary'"
                        class="btn btn-sm">
                    <i class="fa fa-twitter"></i> {{user.twitter ? 'Unlink' : 'Link'}} Twitter Account
                </button>
                <button (click)="user.vk ? unlink('vk') : link('vk')" [ngClass]="user.vk ? 'btn-danger' : 'btn-primary'"
                        class="btn btn-sm">
                    <i class="fa fa-vk"></i> {{user.vk ? 'Unlink' : 'Link'}} Vk Account
                </button>
                <button (click)="user.wordpress ? unlink('wordpress') : link('wordpress')"
                        [ngClass]="user.wordpress ? 'btn-danger' : 'btn-primary'"
                        class="btn btn-sm">
                    <i class="fa fa-wordpress"></i> {{user.wordpress ? 'Unlink' : 'Link'}} Wordpress Account
                </button>
                <button (click)="user.yahoo ? unlink('yahoo') : link('yahoo')"
                        [ngClass]="user.yahoo ? 'btn-danger' : 'btn-primary'"
                        class="btn btn-sm">
                    <i class="fa fa-yahoo"></i> {{user.yahoo ? 'Unlink' : 'Link'}} Yahoo Account
                </button>
            </div>
        </div>
    </div>
</div>
