<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Home Page</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                        euismod. Donec sed odio dui.</p>
                    <p><a class="btn btn-primary" href="#">View details »</a></p>
                </div>
                <div class="col-sm-6">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                        euismod. Donec sed odio dui.</p>
                    <p><a class="btn btn-primary" href="#">View details »</a></p>
                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            <ul class="list-inline">
                <li><i class="fa fa-star"></i> {{$ctrl.stars}} stars</li>
                <li><i class="fa fa-code-fork"></i> {{$ctrl.forks}} forks</li>
                <li><i class="fa fa-exclamation-circle"></i> {{$ctrl.issues}} issues</li>
            </ul>
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-default" href="https://github.com/yisraelx/authllizer"><i class="fa fa-github"></i> GitHub project</a>
        <a class="btn btn-default" href="https://github.com/yisraelx/authllizer/issues/new"><i class="fa fa-bug"></i> Report issue</a>
    </div>
</div>
