<div class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <router-link class="navbar-brand" to="/"><i class="ion-ios7-pulse-strong"></i> Authllizer</router-link>
    </div>
    <ul class="nav navbar-nav">
        <li>
            <router-link active-class="active" to="/">Home</router-link>
        </li>
        <li v-show="isAuth">
            <router-link active-class="active" to="/profile">Profile</router-link>
        </li>
    </ul>
    <ul class="nav navbar-nav pull-right" v-show="!isAuth">
        <li>
            <router-link active-class="active" to="/signin">Sign in</router-link>
        </li>
        <li>
            <router-link active-class="active" to="/signup">Sign up</router-link>
        </li>
    </ul>
    <ul class="nav navbar-nav pull-right" v-show="isAuth">
        <li>
            <router-link to="/signout">Sign out</router-link>
        </li>
    </ul>
</div>
