<div class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home"><i class="ion-ios7-pulse-strong"></i> Authllizer</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a ui-sref="home" ui-sref-active="active">Home</a></li>
        <li ng-if="$ctrl.isAuthenticated()"><a ui-sref="profile" ui-sref-active="active">Profile</a></li>
    </ul>
    <ul ng-if="!$ctrl.isAuthenticated()" class="nav navbar-nav pull-right">
        <li><a ui-sref="signin" ui-sref-active="active">Sign in</a></li>
        <li><a ui-sref="signup" ui-sref-active="active">Sign up</a></li>
    </ul>
    <ul ng-if="$ctrl.isAuthenticated()" class="nav navbar-nav pull-right">
        <li><a ui-sref="signout">Sign out</a></li>
    </ul>
</div>