<div class="container">
    <div class="row">
        <div class="center-form panel">
            <div class="panel-body">
                <h2 class="text-center">Sign up</h2>
                <form name="signupForm" ng-submit="$ctrl.signUp()">
                    <div class="form-group has-feedback"
                         ng-class="{ 'has-error' : signupForm.displayName.$invalid && signupForm.displayName.$dirty }">
                        <input autofocus class="form-control input-lg" name="displayName"
                               ng-model="$ctrl.user.displayName"
                               placeholder="Name"
                               required type="text">
                        <span class="ion-person form-control-feedback"></span>
                        <div class="help-block text-danger" ng-if="signupForm.displayName.$dirty"
                             ng-messages="signupForm.displayName.$error">
                            <div ng-message="required">You must enter your name.</div>
                        </div>
                    </div>
                    <div class="form-group has-feedback"
                         ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
                        <input class="form-control input-lg" id="email" name="email" ng-model="$ctrl.user.email"
                               placeholder="Email"
                               required
                               type="email">
                        <span class="ion-at form-control-feedback"></span>
                        <div class="help-block text-danger" ng-if="signupForm.email.$dirty"
                             ng-messages="signupForm.email.$error">
                            <div ng-message="required">Your email address is required.</div>
                            <div ng-message="email">Your email address is invalid.</div>
                        </div>
                    </div>
                    <div class="form-group has-feedback"
                         ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
                        <input class="form-control input-lg" name="password" ng-model="$ctrl.user.password"
                               password-strength
                               placeholder="Password" required
                               type="password">
                        <span class="ion-key form-control-feedback"></span>
                        <div class="help-block text-danger" ng-if="signupForm.password.$dirty"
                             ng-messages="signupForm.password.$error">
                            <div ng-message="required">Password is required.</div>
                        </div>
                    </div>
                    <div class="form-group has-feedback"
                         ng-class="{ 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
                        <input class="form-control input-lg" name="confirmPassword" ng-model="$ctrl.confirmPassword"
                               password-match="$ctrl.user.password" placeholder="Confirm Password"
                               type="password">
                        <span class="ion-key form-control-feedback"></span>
                        <div class="help-block text-danger" ng-if="signupForm.confirmPassword.$dirty"
                             ng-messages="signupForm.confirmPassword.$error">
                            <div ng-message="compareTo">Password must match.</div>
                        </div>
                    </div>
                    <p class="text-center text-muted"><small>By clicking on Sign up, you agree to <a href="#">terms &
                        conditions</a> and <a href="#">privacy policy</a></small></p>
                    <button class="btn btn-lg btn-block btn-primary" ng-disabled="signupForm.$invalid" type="submit">
                        Sign up
                    </button>
                    <br/>
                    <p class="text-center text-muted">Already have an account? <a ui-sref="signin">Sign in now</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
